body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    background-color: #fff;
    font-size: 16px;
    /*Font-size 16px is used most often. */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.check {
    fill: currentColor;
}

.user-email {
    color: #fff;
}

.header__contact-svg {
    fill: currentColor;

    align-content: baseline;
    padding-right: 10px;
    gap: 0;
}

.container {
    width: 1200px;
    margin-left: 215px;
    margin-right: 215px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: solid;

    border-color: #ececec;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    justify-content: space-between;

    color: #fff;
}

.header__menu {
    display: flex;
    width: 285px;
    justify-content: space-between;
    margin-right: 314px;
}

.header__item {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}
.header .header__item--active {
    text-decoration: none;
    position: relative;
    color: #2196f3;
}
.header .header__item--active::after {
    position: absolute;
    content: "";
    height: 4px;

    border-radius: 2px;
    left: 0;
    right: 0;
    top: 30px;
    background: #2196f3;
}

.header__contact-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 1.17;
}

button:hover,
button:focus {
    background-color: #fff;
    background-color: #2196f3;

    border-radius: 4px;
    border-style: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}
.main-images__image {
    position: relative;
}

.main-images__back {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
}
.main-images__desc {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-top: 27px;
}
.list-primary-item {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

.header__contact {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 161px;

    color: #757575;

    font-weight: 500;
    font-size: 14px;

    letter-spacing: 0.02em;
    margin: 0 auto;
    line-height: 1.17;
}

a:hover,
a:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.highlights__icon {
    background-color: #f5f4fa;
    border-radius: 4px;
    padding-top: 25px;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: #2196f3;
    margin-right: 97px;
}

h1 {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0 auto;
    width: 696px;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    letter-spacing: 0.06em;
}

h3 {
    font-size: 14px;

    font-weight: 700;
}

h4 {
    font-size: 14px;

    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.banner__button {
    display: flex;
    align-items: center;
    text-align: center;

    color: #fff;
    background-color: #2196f3;
    font-weight: 700;
    line-height: 1.875;
    margin: auto;
    border-radius: 4px;
    border-style: none;
    width: 200px;
    height: 50px;
    justify-content: center;
}

.banner__button:hover,
.banner__button:focus {
    cursor: pointer;
}

.backdrop {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: not-allowed;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}

.modal {
    position: relative;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 528px;
    height: 581px;
    cursor: auto;
    border-radius: 4px;
}

.modal__modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 11px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
    position: relative;
    top: 8px;

    left: 93%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal__modal-close:hover,
.modal__modal-close:focus {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition-duration: none;
    transition: none;
}

.banner {
    background-image: url(/goit-markup-hw-04/images/back.jpg);
    background-image: linear-gradient(to right, #2f303a 40%);

    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.highlights {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    gap: 30px;
}
.highlights__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    flex-basis: calc((100% - 90px) / 4);
}

.highlights__desc {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
}

img {
    width: 370px;
    height: 294px;
    display: block;
}

.people {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 0px;
}
.people__person-pic {
    width: 270px;
    height: 260px;
}

.social-icons {
    fill: #afb1b8;
    padding-bottom: 30px;
    display: flex;
    width: 206px;
    height: 44px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-bottom > .social-icons {
    fill: #fff;
}

.social-bottom > .social-icons > .social-icons__icon {
    background-color: rgba(255, 255, 255, 0.1);
}
.social-icons__icon {
    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: white;
}

ul.social-icons li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icons__icon:hover {
    fill: white;
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.social-bottom > .social-icons > .social-icons__icon:hover {
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}
.people__person-space {
    background-color: #fff;
    width: 270px;
    height: 428px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-section {
    background-color: #f5f4fa;
}

.people__name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    line-height: 1.17;
    padding-top: 30px;
}

.people__function {
    display: flex;
    justify-content: center;
    color: #757575;
    line-height: 1.17;
    padding-top: 10px;
    padding-bottom: 16px;
}

.customers {
    display: flex;
    flex-wrap: nowrap;

    gap: 30px;
    padding: 0;
    margin: 0 auto;
}

.customers__icon {
    fill: #afb1b8;
    width: 169px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.customers__icon:hover,
.customers__icon:focus {
    fill: #2196f3;
    border-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.footer-container__address {
    padding-top: 9px;
    font-style: normal;
    color: #fff;
    font-size: 14px;
}

.footer-container {
    display: flex;
    gap: 70px;
}

.footer-container__address-bottom {
    max-width: 231px;
    line-height: 24px;
}

.footer-container__contact {
    display: flex;

    color: #757575;

    font-weight: 500;
    font-size: 14px;

    letter-spacing: 0.02em;

    line-height: 24px;
}

ul li .find-us {
    fill: #fff;
}

footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

button {
    display: flex;
    font-weight: 500;

    border-style: none;
    border-radius: 4px;
    justify-content: center;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.filter {
    line-height: 1.63;
    display: flex;
    justify-content: center;

    margin: 0 auto;
    width: 611px;
    gap: 8px;

    margin-bottom: 34px;
}

.filter__menu:hover,
.filter__menu:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.offers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.offers:hover,
.offers:focus {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}
.offers__single-offer {
    margin: 0 auto;

    flex-basis: calc((100% - 60) / 3);
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.offers__single-offer:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.offers__techno-back {
    display: flex;

    align-items: center;
    justify-content: center;
    position: absolute;

    letter-spacing: 0.03em;
    width: 370px;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);
    visibility: none;
    opacity: 0;

    transform: translatey(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}
.offers > .offers__single-offer {
    overflow: hidden;
}

.offers__single-offer:hover .offers__techno-back {
    visibility: visible;

    opacity: 1;

    transform: translateY(0);
}

.offers__techno-desc {
    width: 322px;
    height: 140px;
    font-size: 18px;
    color: #fff;
}

.offers__lower-offer-part {
    border-style: solid;
    border-color: #eeeeee;
    border-top: 0;
    height: 110px;
}

.offers__single-offer-flow {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.offers__example-offer-name {
    display: flex;

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin: 0px;

    padding-left: 24px;
    padding-top: 20px;
}

.offers__example-offer-category {
    display: flex;
    padding-bottom: 20px;
    color: #757575;
    line-height: 1.875;
    margin: 0;

    padding-left: 24px;
}

.newsletter__subscription {
    display: flex;
    justify-content: flex-start;

    gap: 10px;
    margin: 0 auto;
    padding: 0;
}

.newsletter__mail-box {
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: #2f303a;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.newsletter {
    max-width: 570px;
    padding-right: 0;
    margin: 0 auto;
}
.newsletter__button-send {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #2196f3;
    color: #fff;
    width: 200px;
    height: 50px;
}

.newsletter__mail-send-svg {
    fill: #fff;
}
.email {
    color: #fff;
}

.modal__contact-header {
    position: absolute;
    text-align: center;
    color: #212121;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 23px;
    margin-bottom: 2px;
    font-style: 700;
}

.modal__formula {
    padding-top: 75px;
}
.modal__form-style {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    color: #757575;
    padding-left: 40px;
    padding-right: 40px;
}

.modal__form-svg {
    position: absolute;
    top: 11px;
    left: 12px;

    fill: black;
}

.modal__form-box {
    display: flex;

    position: relative;
    width: 448px;
    height: 40px;
    border: 1px #212121 solid;
    border-radius: 4px;
    align-items: center;
    padding-left: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.modal__text-field {
    width: 415px;
    padding-left: 20px;
    height: 38px;
    border: #fff;
    outline: none;
}

.modal__form-box-comment {
    display: flex;

    position: relative;
    width: 448px;
    height: 120px;
    border: 1px #212121 solid;
    border-radius: 4px;
    align-items: center;
    padding-left: 12px;
}
.modal__text-window {
    padding-top: 10px;
    width: 448px;
    padding-right: 0;
    height: 116px;
    border: #fff;
    outline: none;
}

.modal__form-box:hover,
.modal__form-box:focus {
    cursor: pointer;
    border: 1px solid #2196f3;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    fill: #2196f3;
}

.modal__text-field:hover + svg,
.modal__text-field:focus + svg {
    cursor: pointer;
    fill: #2196f3;

    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.modal__form-box-comment:hover,
.modal__form-box-comment:focus {
    cursor: pointer;
    border: 1px solid #2196f3;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    fill: #2196f3;
}
.modal__acceptance-label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    padding-top: 0;

    justify-content: center;
    align-items: baseline;
}
.modal__acceptance-label a {
    color: #757575;
}

.modal__acceptance-checked {
    width: 16px;
    height: 15px;
    border: 2.5px solid #212121;
    margin-right: 8px;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__acceptance-input:checked ~ .modal__acceptance-checked {
    border: 0 solid #212121;
    background-color: #2196f3;
    fill: #fff;
}
.modal__acceptance-checked:hover,
.modal__acceptance-checked:focus {
    border: 4px solid #212121;
}
.modal__checked-bacground {
    display: block;
    visibility: hidden;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__acceptance-input:checked
    ~ .modal__acceptance-checked
    .modal__checked-bacground {
    display: block;
    visibility: visible;
}
.modal__checkbox-hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.modal__order {
    display: block;
    align-items: center;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__order:hover,
.modal__order:focus {
    background-color: #f5f4fa;
    color: #212121;
}
